<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wallet"
        tools:targetApi="31">
        <activity
            android:name=".ActivityCreateAccountSecondDaniyar"
            android:exported="false" />
        <activity
            android:name=".ActivityCreateAccountDaniyar"
            android:exported="false" />
        <activity
            android:name=".WalletAltynai"
            android:exported="false" />
        <activity
            android:name=".CongratsAltynai"
            android:exported="false" />
        <activity
            android:name=".ChangePasswordAltynai"
            android:exported="false" />
        <activity
            android:name=".ConfirmationCodeAltynai"
            android:exported="false" />
        <activity
            android:name=".PasswordAltynai"
            android:exported="false" />
        <activity
            android:name=".WelcomeBackAltynai"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IslamSend"
            android:exported="false" />
        <activity
            android:name=".IslamGet"
            android:exported="false" />
        <activity
            android:name=".IslamConvert"
            android:exported="false" />
        <activity
            android:name=".IslamBuy"
            android:exported="false" />
    </application>

</manifest>